*{
    margin: 0 auto;
    padding: 0;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 191, 0, 0.93);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:600px;
}

.introducao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    text-align: left;
}

.introducao p {
    font-size: 20px;
}

.introducao a{
    margin-top: 20px;
}
.botao-agende{
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    background-color:rgba(255, 191, 0, 0.93);
    color: white;
    border-radius: 5px;
    border: solid black;
    padding: 5px;
}

.multiline{
    margin-top: 60px;
    white-space:pre-wrap;
    padding: 20px;
    font-family:  Arial, sans-serif;;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 50px;
    margin-top: 50px;
}

form{
    background-color: rgba(255, 191, 0, 0.93);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.input-form{
    width: 100%; 
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.label-form {
    display: block;
    margin-bottom: 5px;
   }
.nav-header{
    display: flex;
    gap: 30px
}

.botao{
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    width: 100%; 
    margin-top: 10px;
}

.botao:hover{
    background-color: grey;
}
main{
    width: 100%;
    height: 1300px;
    background-color: lightgray;
}

.icones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.icones-left{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.icones-right{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.servico{
    background-color: #e0e0e0;
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    height: 90px;
    width: 100%;
    text-align: center;
}

.servico h3{
    color:rgba(255, 191, 0, 0.93);
    
}

.servico p{
    color: rgb(51, 49, 49);
}

.container-services{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-left{
    padding: 20px;
    width: 40%;
}

.services-right{
    width: 40%; 
    padding: 20px
}

.relogio{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 900px;
    margin-top: 100px;
    height: 55px;
}
h1{
    padding-top: 30px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black
}

ul{
    list-style: none;
    padding-top:10px;
}

footer li{
    padding-bottom: 5px;
    text-align: center;
}

footer {
    background-color: rgba(255, 191, 0, 0.93);
    color: black;
    width: 100%;
    padding: 20px 0;
   }

   .container-footer{
    display: flex;
   }

   footer address {
    margin-bottom: 20px;
   }